##############################################
################ Z Settings ##################
##############################################


[stepper_z]
step_pin: gpio19
dir_pin: gpio28                                                    # Remove the ! before gpio28 if motor direction is inverted.
enable_pin: !gpio2
rotation_distance: 40                                                # For T8x8 integrated lead screw
gear_ratio: 9:1
microsteps: 32
endstop_pin: ^gpio25
#position_endstop: 119.414
position_max: 120
position_min: -1.5
homing_speed: 20
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
interpolate: true
## For LDO-42STH25-1004CL200E 1.0A
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

[autotune_tmc stepper_z]
motor: ldo-36sth20-1004ahg-9T


